body {
    margin: 0;
    background-color: #eff0f5;
}

/* header in index */

header a {
    background-color: #5471f1;
    text-decoration: none;
    text-align: center;
    width: 25%;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px auto;
}

/* section main in index */

main {
    width: 100%;
    display: flex;
}

/* section lists in index */

#lists {
    width: 200px;
    background-color: white;
}

#lists #addList:focus{
    outline: none;
}

#lists #addList:focus::placeholder{
    color: #d8dae2;
}

#lists #baseAddList:hover {
    background-color: rgb(244, 244, 244);
}

#lists #addList {
    border: none;
    background: transparent;
    padding: 0;
}

#baseAddList {
    padding: 15px 0 15px 10px;
    font-size: 0;  /* Supprime l'espace blanc entre les éléments */
}

#baseAddList img {
    padding: 0 10px ;
}

#baseAddList button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

#addList::placeholder {
    color: #5471f1;
}

.list {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px  10px;
    cursor: pointer;
    position: relative;  /* Needed for absolute positioning */
}

.list:hover {
    background-color: rgb(244, 244, 244);
}

.list p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px; /* Adds space between the image and text */
}

.list p img {
    padding: 0 8px;
}

.list p a {
    text-decoration: none;
    color: black;
}

.list p span{
    float: right;
}

.numberOfTask {
    position: absolute;
    right: 10px;
    color: black
}


 