.taskBlock {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    transition: background-color 0.3s ease;
}

.taskBlock:hover {
    background-color: #e0e0e0;
}

#global {
    width: 100%;            
    margin: 20px auto 0 auto;        
    padding: 20px;     
    background-color: #fff; 
    border-radius: 8px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* header in index */

header a {
    background-color: #5471f1;
    text-decoration: none;
    text-align: center;
    width: 25%;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px auto;
}

/* section tasks in index */

#tasks {
    width: 800px;
}

.tasksStatus::before {
    content: "ˇ";
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    padding: 0 5px 0 0;
}

.tasksStatus {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 3px;
    cursor: pointer;
}

.taskParameter {
    width: 15px;
    color: #5471f1;
    visibility: hidden;
    cursor: pointer;
    justify-self: center;
}

.taskMenu {
    width: 100px;  /* Adjust the width of the dropdown */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);  /* Soft shadow effect */
    background-color: white;
    border-radius: 10px;
    padding: 0;
    list-style: none;
    /* display: none;   */
    overflow: hidden;
    transform: translate(540px, -20px);
    position: absolute;
    visibility: hidden;
}

.taskMenu li {
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

.taskMenu li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}


.taskMenu li:hover {
    background-color: #5471f1;
}

.taskMenu li:hover a {
    color: white
}

.toggle-parameter {
    visibility: visible;
}
/* .tasksNumber {
    float: left;
} */

.dropdownTasks {
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

/* .task {
    position: relative;
} */

.task-title {
    display: grid;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
    grid-template-columns: 40px 1fr 40px 80px 80px;
}

.task-radio {
    margin: 0 10px 0 0;
}
.task-date {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
}

.task-title span:nth-of-type(1) {
    flex-grow: 1;
}

.task-title span {
    margin-right: 10px;
}

.priority {
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    justify-self: center;
}

.dueDate {
    justify-self: center;
}

.dropDown {
    max-height: 500px;
    transition: 0.5s ease-in-out;
}

/* form style in new page*/

.form_group button {
    background-color: #5471f1;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form input, select, textarea {
    box-sizing: border-box;    
    width: 100%;     
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    padding: 10px;
}

input[type="date"]{
    color: gray;
}

/* new page style */

.form_group {
    width: 100%;         
    max-width: 300px;       
    margin: 20px auto 0 auto;        
    padding: 20px;     
    background-color: #fff; 
    border-radius: 8px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_group a{
    color: black;
    text-decoration: none;
}



 