<div>
    <label for="titleLow">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Instagram post" required>
</div>

<div>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea>
</div>

<div id="date">
    <div>
        <label for="startDate">Start:</label><br>
        <input type="date" id="startDate" name="startDate" required>
    </div>
    <div>
        <label for="dueDate">End:</label><br>
        <input type="date" id="dueDate" name="dueDate" required>
    </div>
</div>


<div>
    <label for="priority">Priority:</label><br>
    <select id="priority" name="priority" required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
</div>

<div>
    <label for="status">Status:</label><br>
    <select id="status" name="status" required>
        <option value="notStarted">Not Started</option>
        <option value="inProgress">In Progress</option>
        <option value="completed">Completed</option>
    </select>
</div>