<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="global">
        <header>
            <h2>My to do list</h2>
            <a href="/new">Add task</a>
        </header>
        <main>
            <section id="lists">
                <div id="baseAddList">
                    <button type="button">
                        <img src="/images/plus.svg">
                    </button>
                    <input type="text" id="addList" placeholder="New List">
                </div>
                <% if (locals.lists != null) { %>
                    <% lists.forEach(list => { %>
                        <div class="list">
                            <p>
                                <img src="/images/list.svg">
                                <a href="/taskarea/<%=list.id %>"><%= list.title %></a>
                            </p>
                            <span class="numberOfTask">0</span>
                        </div>
                    <% }) %>
                <% } %>
            </section>
  
        </main>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>